@font-face {
	font-family: 'GE Snd Book';
	src: url('GE Snd Book.ttf') format('truetype');
}
@font-face {
	font-family: 'Kiona Regular';
	src: url('Kiona Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Cocogoose Pro Semilight';
	src: url('Cocogoose Pro Semilight.ttf') format('truetype');
}
@font-face {
	font-family: 'Copperplate Gothic Bold';
	src: url('Copperplate Gothic Bold.ttf') format('truetype');
}